    * {
        /* align-items:center         */
        /* background-color: black;
        color: chartreuse; */
        font-family: "Roboto Mono", monospace;
    }
    .fa-times:hover {
        color: rgb(255, 25, 0);
    }
    .channel_img {
        border-radius: 15px;
        vertical-align: middle; /*maybe best inside of table so that text can start at the top */
        width: 60px;
        height: 60px
    }
    .channel_name {
        vertical-align: middle
    }
    .stake_btn_container {
        position: relative;
        display: inline-block;
        margin: 30px 0;
    }
    .glowing_button {
        background-color: black;
        color: chartreuse;
        border-width: 3px;
        border-color: rgb(200,255,180) rgb(127,255,0) 
        rgb(80,160,40) rgb(20,130,30);
        border-radius: 1px;
    }
    /* states:{logged in / ¤~} */
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 1px solid #000000;
        height: 30px;
        width: 3px;
        border-radius: 5px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -4px; /*make thinner & change slide fill color */
    }
    
    .stake_exit_btn {
        background-color: transparent;
        border: none;
        color:chartreuse;
    }
    
    .td_left_spaced {
        text-align: left;
        padding: 10px 0 10px 0;
        font-size: 16px;
    }

    .sidebar hr {
        width: 100%;
        margin-left: 0px
    }

    /* does not identify rowgroups */
    .switch-channel-container {
        display: flex; 
        justify-content: flex-end; 
        direction: ltr; 
        align-items: center; 
        margin-bottom: 15px;
    }

    .sidebar {
        /* width: 39%; */
        float: left;
        /* margin-left: 1%; */
        position: relative;
        grid-area: sidebar;
        display: grid
    }

    .main {
        /* margin-right: 1%; */
        width: 100%;
        height: 100%;
        /* vertical-align: middle; */
        /* filling is to be removed */
        /* text-align: center; */
        background-color: rgba(0,0,0,0);
        float: right;
        display: grid;
        grid-area: main;
        /* padding: 60px 0 */
    }

    .chart {
        height: 60vh;
        width: 95%;
        border-width: 10px;
        border-color: rgb(127, 255, 0);
        background-color:black;
        color: chartreuse;
    }

    .chart_navbar {
        z-index: 1;
        background-color: rgba(0,0,0,0);
        display: inline;
        position: absolute;
        right: 10px;
        top: 7px;
    }

    #wrapper {
        border: solid 4px rgb(17, 42, 5);
        height: 100vh - 6px;
    }

    .set_timefr {
        border-radius: 3px;
        border-color: rgb(200, 255, 180) rgb(127, 255, 0) 
        rgb(80, 160, 40) rgb(10, 110, 10);
        background-color: black;
        color: chartreuse;
    }

    .container {
        height: 100%;
        grid-template-areas:
        "header1 header2"
        "sidebar main";
        display: grid;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0px;
        margin: 0;
        width: calc(100% - 60px);
        max-width: 100%;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
        grid-template-columns: 1fr 1fr;
        float: unset;
        background-color: black;
        color: chartreuse;
        /* display: flex;
        flex-direction: row;
        align-items: center;
        vertical-align: middle; */
    }

    canvas {
        color: chartreuse;
    }

    hr {
        border-color: chartreuse;
    }

    .flex_row_inhibit {
        width: 100%;
    }
    .theader > td + td {
        text-align: center;
    }
    .theader {
        font-weight: bolder;
    }
    /* table tr td ~ td {
        min-width: 25%;
        max-width: 25%;
    } */
    #static-attributes-header table tr td {
        min-width: 25%;
        max-width: 25%;
        max-height: 30px;
    }

    .stake_btn_container table {
        width: 80%;
    }
    .chart_wrap {
        position: relative;
        width: 100%;
    }
    .header-left, .header-right {
        margin: 0px;
        /* display: inline-block; */
        /* display: grid */
    }
    :root {
        --v_padding: 4px;
        --v_border: 4px;
    }
    .header-right {
        border-width: var(--v_border) var(--v_border) 
        var(--v_border) 0; /* top right bottom left */
        border-style: solid;
        border-color: rgb(17, 16, 16);
        background-color: black;
        height: fit-content;
        float: right;
        text-align: right;
        grid-area: header2;
        width: calc(50% - var(--v_border));
        padding: var(--v_padding) 0;
    }
    .header-left {
        border-width: var(--v_border) 0 
        var(--v_border) var(--v_border); /* top right bottom left */
        border-style: solid;
        border-color: rgb(17, 16, 16);
        background-color: black;
        float: left;
        grid-area: header1;
        text-align: left;
        height: 25px;
        width: calc(50% - var(--v_border));
        height: 25px;
        padding: var(--v_border) 0;
    }
    .fa-user, .fa-chart-line {
        color: chartreuse;
        font-size: 24px;
    }
    .space {
        display: inline-block;
        width: 20px;
    }
    body {
        margin: 0;
    }
    .container2 {
        width: 100%;
    }
    #static-attributes {
        width: 100%;
    }
    #username {
        background-color: rgba(0,0,0,0);
        display: inline;
        width:fit-content;
        color: chartreuse;
        font-size: 15px;
        border-width: 0px;
        padding: 0px;
        width: 140px;
    }
    .container .input[type=text] {
        border-radius: 3px;
        background-color: rgb(5,5,5);
        color: rgb(19,168,19);
    }
    .input_wm {
        display: inline-block;
        position: relative;
        margin: 7px 0;
        font-weight: bold;
    }
    .input_wm > input[type=text] {
        padding-left: 6px;
        background-color: rgb(5, 5, 15); 
        border-radius: 3px; 
        color: rgb(19, 168, 19);
    }
    .wm {
        font-size: 14px;
        color: rgba(210, 50, 70, 0.8);
        top: 3px;
    }

    #stats_score, #stats_date {
        float: middle;
        width: 100px;
    }

    /* will it stay on narrow view setup after increasing scr with again? */
    /* if yes, add new option @media  */
    @media screen and (max-width: 800px), 
    (orientation: portrait) {
        .container {
            display: revert;
        }
        /* remove vert padding around blocks */
        .sidebar {
            float: revert;
        }
        .main {
            float: revert;
        }
        .stats_flex, .chart_flex {
            height: auto;
            padding: 10px 0;
        }
        .chart {
            height: 60vh;
            /* width: auto; */
        }
    }

    @media (orientation: portrait) {
        .chart {
            height: 40vh;
        }
    }

    .overlay {
        background-color: rgb(27, 211, 122);
        position: fixed;
        top: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
        z-index: 2;
        visibility: visible;
    }
    
    .overlay_centre_img {
        top: calc(50% - 24px); /*subtract half of hourglass height*/
        left: calc(50% - 18px);
        height: 48px !important;
        width: 36px !important;
        position: absolute;
        display: flex;
        vertical-align: middle;
        justify-content: center;
    }

    /* @media screen and (min-width: 801px), 
    (orientation: landscape) {
        .container {
            display: grid;
        }
        .sidebar {
            float: left;
        }
        .main {
            float: right;
        }
        .stats_flex, .chart_flex {
            height: calc(100vh - 18px);
            padding: 0;
        }
        .chart {
            height: 60vh;
        }
    } */
    /* @media screen and (min-width: 801px) {
        .container {
            display: grid;
        }
    } */